header {
  /* background: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

.menu {
  display: flex;
  list-style: none;
}

.item-menu {
  margin: 0 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
