.content-projects {
  /* background: red; */
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-project {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
}

.item-list-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

.name-project {
  font-weight: 300;
}
