
.card_home_item{
  width: 200px;
  height: 350px;
  padding: 20px 10px;
  margin: 20px;
  border:1px solid #cacaca;
}

.image_card{
  width: 180px;
  height: 120px;
}

.item_card_title{
  font-size: 1.4rem;
}
