.screen_home {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cart {
  border: 1px solid #555;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
}

img {
  width: 200px;
}
